<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Test Website</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/style.css'>
</head>

<body>
    <% if (info) { %>
        <h1><%= info.text.welcome %></h1>
        <h3>Website by <%= info.author %></h3>
        <p>Integrations with <a href=<%=info.integrations%>><%=info.integrations_name%></a></p>
    <% } %>
    <br>
    <br>
    <h3>Top 10 Users</h3>
    <% if (info) { %>
        <p><%= class %></p>
        <table>
            
        </table>
    <% } %>
</body>

<footer>
</footer>

</html>